img {
    display: block;
    object-fit: contain;
    height: 300px;
    width: 300px;
}

header {
    background-color: aquamarine;
}

.div1 {
    background-color: lightskyblue;
}

ul {
    background-color: lightskyblue;
}

ol {
    background-color: lightpink;
}

h3, p, h2 {
    background-color: red;
    color: white;
}